$_pad-base: 1rem;
$pad-base: $_pad-base;

$mrg-none: 0;
$mrg-auto: auto;
$mrg-quarter: $_pad-base * 0.5;
$mrg-half: $_pad-base * 0.75;
$mrg-base: $_pad-base;
$mrg-onehalf: $_pad-base * 1.5;
$mrg-double: $_pad-base * 2;

$pad-none: 0;
$pad-quarter: $_pad-base * 0.25;
$pad-half: $_pad-base * 0.5;
$pad-base: $_pad-base;
$pad-onehalf: $_pad-base * 1.5;
$pad-double: $_pad-base * 2;
$pad-triple: $_pad-base * 3;

$z-1: 1;
$z-2: 2;
$z-3: 3;
$z-4: 4;
$z-5: 5;
$z-6: 6;
$z-7: 7;
$z-8: 8;
$z-9: 9;
$z-10: 10;
$z-11: 11;
$z-12: 12;
$z-13: 13;
$z-14: 14;
$z-15: 15;
