$primary: #fdfdfd;
$secondary: #f1f1f1;
$tertiary: #ececec;
$blue: #15187e;
$blue-1: #0f7ae5;
$blue-2: #0766c5;
$blue-3: #1192ee;
$red: #fc2020;
$red-1: #e01818;
$red-2: #b20202;
$white: #fff;
$black: #222;
$errors: #f01010;
$success: #3df010;

$box-shadow: 5px 5px 10px rgba($black, 0.6);
$box-shadow-secondary: 6px 6px 5px rgba($black, 0.6);
