$primary: #fdfdfd;
$secondary: #f5f5f5;
$tertiary: #cbcbcb;
$blue: #15187e;
$blue-1: #0f7ae5;
$blue-2: #0766c5;
$blue-3: #1192ee;
$red: #fc2020;
$red-1: #e01818;
$red-2: #b20202;
$white: #fff;
$black: #222;
