<h1 style="text-align: center; margin-top: 1cm">Información Personal</h1>
<br />
<br />
<br />
<div>
  <div *ngIf="!loading" class="create-user">
    <div class="left">
      <div center="center">
        <h4>Foto de perfil</h4>
        <div class="photo">
          <img [src]="values[7]" alt="Aleq" />
        </div>
        <span
          class="hiddenFileInput"
          style="margin-top: 0.3cm; margin-right: 0.75cm"
        >
          <input
            (change)="captureFile($event)"
            type="file"
            name="cambiar foto de perfil"
            accept="image/x-png,image/gif,image/jpeg"
        /></span>
      </div>
    </div>

    <div class="right">
      <div class="create-user_content">
        <form autocomplete="off">
          <div *ngIf="disableForm; else notShow">
            <div class="form-group" *ngFor="let data of values | slice: 1:4">
              <input
                type="text"
                [placeholder]="data"
                name=""
                pattern="^[a-zA-Z\s]{3,50}"
                disabled="true"
                [value]="data"
              />
            </div>
            <div class="form-group">
              <textarea
                type="text"
                [placeholder]=""
                name="userId"
                pattern="^[a-zA-Z\s]{3,50}"
                disabled="true"
                [value]="user.description"
              ></textarea>
            </div>
            <button class="btn-general-form" (click)="enableInformation()">
              Editar
            </button>
          </div>

          <ng-template #notShow>
            <form
              autocomplete="off"
              #signUpForm="ngForm"
              (ngSubmit)="updateInformation(signUpForm)"
            >
              <div class="form-group">
                <input
                  type="text"
                  placeholder="Escribe tus nombres..."
                  name="name"
                  [ngModel]
                  #name="ngModel"
                  value="{{ user.name }}"
                  pattern="^[a-zA-Z\s]{3,50}"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  placeholder="Correo electrónico"
                  name="email"
                  pattern="^[a-zA-Z\s]{3,50}"
                  [(ngModel)]="user.email"
                  disabled="true"
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  placeholder="Rol"
                  name="rol"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                  [(ngModel)]="user.rol"
                  disabled="true"
                />
              </div>
              <div class="form-group">
                <textarea
                  type="text"
                  placeholder="Escribe tu biografía..."
                  name="description"
                  [ngModel]
                  #description="ngModel"
                  pattern="^[a-zA-Z\s]{3,50}"
                ></textarea>
              </div>
              <button
                style="margin-left: 0.3cm"
                class="btn-general-form"
                (click)="cancelInformation()"
              >
                Cancelar
              </button>
              <button class="btn-general-form" type="submmit">Guardar</button>
            </form>
          </ng-template>
        </form>
      </div>
    </div>
  </div>
  <dukes-loading *ngIf="loading"></dukes-loading>
</div>
