<div class="verification">
  <div class="verification-content">
    <div class="verification-content_header">
      <h2>Bienvenido {{ userInfo }}</h2>
      <h3>Gracias por registrarte con nosotros.</h3>
    </div>
    <div class="verification-content_body">
      <div class="verification-content_body-text">
        <p>
          Para completar tu registro y formar oficialmente parte de la comunidad
          de Dukes por favor verifica tu correo.
        </p>
        <p>
          Al correo con el que realizaste tu registro se envió un correo con un
          enlace de verificación, después de abrir el enlace puedes regresar a
          esta página y presionar el botón de verificar para obtener acceso a
          todo nuestro contenido.
        </p>
        <p>
          Ten en cuenta que si no has abres el enlace de confirmación y
          presionas el botón de verificar solo se te redireccionara de nuevo a
          esta página.
        </p>
        <p>
          Si no encuentras el correo de verificación en tu bandeja de entrada
          revisa en la bandeja de correos no deseados (spam) si tampoco esta
          allí entonces puedes presionar en el botón de reenviar para volver a
          enviar el correo de verificación.
        </p>
        <p>
          Si no puedes validar tu correo en estos momentos puedes cerrar sesión
          y regresar mas tarde cuando puedas verificarlo.
        </p>
      </div>
      <div class="verification-content_body-buttons">
        <button class="btn-general" (click)="sendMail()">Reenviar</button>
        <button class="btn-general" (click)="verify()">Verificar</button>
        <button class="btn-general" (click)="logout()">Cerrar Sesion</button>
      </div>
    </div>
  </div>
</div>
