<div class="home">
  <div class="home-content" *ngIf="!loading">
    <ngx-typed-js
      [stringsElement]="'#typeds'"
      [loop]="true"
      [typeSpeed]="100"
      [backSpeed]="100"
      [strings]="texts"
    >
      <span class="typing"></span>
    </ngx-typed-js>
  </div>
  <div class="main-loading" *ngIf="loading">
    <dukes-loading></dukes-loading>
  </div>
  <div class="animation-area">
    <ul class="box-area">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
