@use "../../styles/index.scss" as styles;

.home {
  min-height: 100vh;
  position: relative;
  width: 100%;

  &-content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 1;

    h2 {
      text-align: center;

      span {
        text-transform: capitalize;
      }
    }
  }
}
