<div class="accordion">
  <div class="accordion-item" *ngFor="let course of courses">
    <div class="accordion-item_label" (click)="toggleAccordion($event)">
      {{ course.name }}
    </div>
    <div class="accordion-item_content">
      <div class="accordion-c">
        <ng-container *ngFor="let module of modules">
          <div
            class="accordion-c-itemC"
            *ngIf="module.id_course === course.id_course"
          >
            <div
              class="accordion-c-itemC_label"
              (click)="toggleAccordionC($event)"
            >
              {{ module.name }}
            </div>
            <div class="accordion-c-itemC_contentC">
              <form>
                <div class="form-group">
                  <input type="number" placeholder="Asignar nota" />
                </div>
                <div class="form-group">
                  <select>
                    <option value="">Seleccionar Usuario</option>
                  </select>
                </div>
                <button class="btn-general-form">Asignar Nota</button>
              </form>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
