@use "../../styles/index" as styles;

.signin {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  justify-content: center;

  @include styles.animation-animation-bg;

  .animation-area {
    position: absolute;
  }

  &::after {
    background: url("../../../../assets/texture/dashboard.png");
    background-size: cover;
    content: "";
    height: 100%;
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: -1;
  }

  &-content {
    background-color: rgba(styles.$color-secondary, 0.5);
    backdrop-filter: brightness(90%);
    box-shadow: styles.$color-box-shadow;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: styles.$box-pad-half;
    width: 40%;
    z-index: 1;

    h2,
    p {
      text-align: center;
    }

    .form-footer {
      margin: styles.$box-mrg-quarter 0;
      text-align: center;

      p {
        margin-bottom: styles.$box-mrg-quarter;
      }

      a {
        color: styles.$color-blue-2;
        cursor: pointer;
        text-decoration: none;
        transition: styles.$animation-bezier;

        &:hover {
          color: styles.$color-blue;
          letter-spacing: 1px;
        }
      }
    }

    @media (max-width: styles.$bkp-desktop-w) {
      width: 50%;
    }

    @media (max-width: styles.$bkp-mobile-w) {
      width: 90%;
    }
  }
}
