@use "../../styles/index" as styles;

.signin {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  justify-content: center;

  &-content {
    background-color: rgba(styles.$color-secondary, 0.5);
    backdrop-filter: brightness(90%);
    box-shadow: styles.$color-box-shadow;
    border-radius: 5px;
    padding: styles.$box-pad-half;
    width: 40%;

    h2 {
      text-align: center;
    }

    .auth-footer {
      margin-top: styles.$box-mrg-base;
      text-align: center;

      a {
        color: styles.$color-blue-2;
        cursor: pointer;
        display: block;
        margin-bottom: styles.$box-mrg-half;
        text-decoration: none;
        transition: styles.$animation-bezier;

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          color: styles.$color-blue;
          letter-spacing: 1px;
        }
      }
    }

    @media (max-width: styles.$bkp-desktop-w) {
      width: 50%;
    }

    @media (max-width: styles.$bkp-mobile-w) {
      width: 90%;
    }
  }
}
