@use "../../styles/index" as styles;

.signin {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  &-content {
    background-color: rgba(styles.$color-secondary, 0.5);
    backdrop-filter: brightness(90%);
    box-shadow: styles.$color-box-shadow;
    border-radius: 5px;
    padding: styles.$box-pad-half;
    width: 40%;

    h2 {
      text-align: center;
    }

    @media (max-width: styles.$bkp-desktop-w) {
      width: 50%;
    }

    @media (max-width: styles.$bkp-mobile-w) {
      width: 90%;
    }
  }
}
