<div class="edit-program">
  <div class="edit-program_content">
    <form autocomplete="off" #programEditForm="ngForm">
      <div class="form-group">
        <input type="text" disabled="true" [value]="program.name" />
      </div>
      <div class="form-group">
        <input type="text" disabled="true" [value]="program.name_coach" />
      </div>
      <div class="form-group">
        <input type="text" disabled="true" [value]="program.start_date" />
      </div>
      <div class="form-group">
        <input type="text" disabled="true" [value]="program.final_date" />
      </div>
      <div class="form-group" *ngFor="let course of courses">
        <input type="text" disabled="true" class="w-50" [value]="course.name" />
        <input
          type="text"
          disabled="true"
          class="w-50"
          value="Valor del curso {{ course.percentage | number: '1.0-0' }}%"
        />
        <div class="form-group_child" *ngFor="let module of modules">
          <input
            type="text"
            class="w-50"
            disabled="true"
            *ngIf="module.id_course === course.id_course"
            [value]="module.name"
          />
          <input
            type="text"
            class="w-50"
            disabled="true"
            *ngIf="module.id_course === course.id_course"
            [value]="'Duración ' + module.duration + ' dias'"
          />
          <div
            class="form-group_child-child"
            *ngIf="module.id_course === course.id_course"
          >
            <input
              type="text"
              disabled="true"
              value="Valor del modulo {{
                module.percentage | number: '1.0-0'
              }}%"
            />
          </div>
        </div>
      </div>
    </form>
    <div class="edit-program_content-users">
      <h2>Agregar usuarios</h2>
      <form #addUserForm="ngForm" (ngSubmit)="addUser(addUserForm)">
        <div class="form-group">
          <select
            name="userSelected"
            required
            ngModel
            #userSelected="ngModel"
            disabled="{{ usersAvailability.length < 1 }}"
            [class.invalid]="userSelected.invalid && userSelected.touched"
            [class.valid]="userSelected.valid"
          >
            <option value="">
              {{
                usersAvailability.length < 1
                  ? "No hay usuarios disponibles"
                  : "Seleccione un usuario"
              }}
            </option>
            <option
              *ngFor="let user of usersAvailability"
              [value]="user.userId"
            >
              {{ user.name }}
            </option>
          </select>
          <div
            class="message-error"
            *ngIf="!userSelected.value && userSelected.touched"
          >
            Se debe seleccionar un usuario.
          </div>
        </div>
        <button class="btn-general-form" [class.disabled]="addUserForm.invalid">
          Agregar usuario
        </button>
      </form>
    </div>
  </div>
</div>
