@use "../../styles/index.scss" as styles;

.user {
  min-height: 100vh;
  position: relative;
  width: 100%;

  &-content,
  &-content-na {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;

    h2 {
      text-align: center;
    }
    .typing {
      @include styles.font-title;
    }
  }
  
  &-content-na {
    text-align: center;
  }
}
