<div class="user">
  <div class="user-content-na" *ngIf="!assigned">
    <ngx-typed-js
      [stringsElement]="'#typeds'"
      [typeSpeed]="100"
      [backSpeed]="100"
      [strings]="texts"
    >
      <span class="typing"></span>
    </ngx-typed-js>
  </div>
  <div class="user-content" *ngIf="assigned">
    <h2>Panel Usuario - {{ userName }}</h2>
    <div class="tabs">
      <div class="tabs-indicators">
        <button
          class="btn-general"
          *ngFor="let indicator of indicators"
          (click)="onTabChange(indicator)"
          [ngClass]="{ active: selected === indicator }"
        >
          {{ indicator }}
        </button>
      </div>
      <div class="tabs-tab" *ngIf="selected === 'Gráfica'">
        <dukes-graph-progress
          [program]="programInfo"
          [courses]="courseInfo"
          [modules]="moduleInfo"
        ></dukes-graph-progress>
      </div>
      <div class="tabs-tab" *ngIf="selected === 'Tabla'">
        <dukes-table-progress></dukes-table-progress>
      </div>
    </div>
  </div>
  <div class="animation-area_two">
    <ul class="box-area_two">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
