<div class="signin">
  <div class="signin-content">
    <h2>Recuperar Contraseña</h2>
    <p>Ingresa tu correo electrónico para recuperar tu contraseña.</p>
    <form
      #forgotPasswordForm="ngForm"
      (ngSubmit)="onSubmit(forgotPasswordForm)"
    >
      <div class="form-group">
        <input
          type="email"
          placeholder="Correo"
          name="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          required
          ngModel
          #email="ngModel"
          [class.invalid]="email.invalid && email.touched"
          [class.valid]="email.valid"
        />
        <div class="message-error" *ngIf="!email.value && email.touched">
          El correo es requerido.
        </div>
        <div
          class="message-error"
          *ngIf="email.value && email.invalid && email.touched"
        >
          El correo es invalido
        </div>
      </div>
      <button
        class="btn-general"
        type="submmit"
        [class.disabled]="email.invalid"
      >
        Enviar correo
      </button>
    </form>
    <div class="form-footer">
      <p>¿Quieres regresar?</p>
      <a [routerLink]="'/'"> ir al inicio de sesión.</a>
    </div>
  </div>
</div>
