<div class="auth">
  <div class="auth-content">
    <h2>Recuperar Contraseña</h2>
    <p>Ingresa tu correo electrónico para recuperar tu contraseña.</p>
    <form #signInForm="ngForm" (ngSubmit)="sendEmail(signInForm)">
      <div class="form-group">
        <input
          type="email"
          placeholder="Correo"
          name="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          required
          ngModel
          #email="ngModel"
          [class.invalid]="email.invalid && email.touched"
          [class.valid]="email.valid"
        />
        <div class="message-error" *ngIf="!email.value && email.touched">
          El correo es requerido.
        </div>
        <div
          class="message-error"
          *ngIf="email.value && email.invalid && email.touched"
        >
          El correo es invalido
        </div>
      </div>
      <button
        class="btn-general"
        type="submmit"
        [class.disabled]="email.invalid"
      >
        Iniciar
      </button>
    </form>
    <div class="auth-footer">
      ¿Quieres regresar?
      <a (click)="redirect('auth/signin')"> ir a iniciar sesión </a>
    </div>
  </div>
</div>
