@use "../../styles/index" as styles;

.list-users {
  position: relative;
  width: 100%;

  &_content {
    max-height: 70vh;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
    width: 95%;

    &::-webkit-scrollbar {
      width: 0;
    }

    button {
      float: right;
      margin-top: styles.$box-mrg-half;
      &:hover {
        transform: scale(1.0);
      }
    }

    @media (max-width: styles.$bkp-mobile-w) {
      max-height: 55vh;
    }
  }
}
