<div class="list-users">
  <div class="list-users_content">
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Verificación</th>
          <th>Disponibilidad</th>
          <th>Rol</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span>NB</span>
            Username
          </td>
          <td>
            <span>CR</span>
            Email
          </td>
          <td>
            <span>VR</span>
            <i class="fas fa-check-circle check"></i>
          </td>
          <td>
            <span>DP</span>
            <i class="fas fa-times-circle times"></i>
          </td>
          <td>
            <span>Rol</span>
            User rol
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
