@use "../../styles/index" as styles;

.admin {
  min-height: 100vh;
  position: relative;
  width: 100%;
  background-color: #f1f1f190;
  backdrop-filter: brightness(50%);

  &-content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 1;

    h2 {
      text-align: center;
    }
  }
}
