<div class="admin">
  <div class="main-loading" *ngIf="loading">
    <dukes-loading></dukes-loading>
  </div>
  <div class="admin-content" *ngIf="!loading">
    <h2>Panel Usuario Admin</h2>

    <div class="tabs">
      <div class="tabs-indicators">
        <button
          class="btn-general"
          *ngFor="let indicator of indicators"
          (click)="onTabChange(indicator)"
          [ngClass]="{ active: selected === indicator }"
        >
          {{ indicator }}
        </button>
      </div>
      <div class="tabs-tab" *ngIf="selected === 'Asignar Notas'">
        <dukes-score-user></dukes-score-user>
      </div>
      <div class="tabs-tab" *ngIf="selected === 'Crear Programa'">
        <dukes-create-program
          (programCreated)="onIndicatorChangeEdit()"
        ></dukes-create-program>
      </div>
      <div class="tabs-tab" *ngIf="selected === 'Editar Programa'">
        <dukes-edit-program
          [program]="programInfo"
          [courses]="courseInfo"
          [modules]="moduleInfo"
        ></dukes-edit-program>
      </div>
      <div class="tabs-tab" *ngIf="selected === 'Progreso Programa'">
        <dukes-program-progress> </dukes-program-progress>
      </div>
    </div>
  </div>
  <div class="animation-area_two">
    <ul class="box-area_two">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
