@use "../../styles/index" as styles;

.root {
  min-height: 100vh;
  position: relative;
  width: 100%;

  &-content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;

    h2 {
      text-align: center;
    }

    &_tabs {
      margin-top: styles.$box-mrg-onehalf;
      position: relative;
      width: 100%;

      &-indicators {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;

        .active {
          transform: scale(1.1);
          box-shadow: styles.$color-box-shadow-tertiary;

          &::before {
            background-color: styles.$color-blue;
          }

          &:hover {
            &::before {
              animation: none;
            }
          }
        }

        @media (max-width: styles.$bkp-tablet-w) {
          flex-direction: column;

          button {
            margin-bottom: styles.$box-mrg-half;

            &:last-child {
              margin-bottom: 0;
            }
          }

          .active {
            transform: scale(1);
          }
        }
      }

      &-tab {
        @include styles.animation-scale-in_X;
        background-color: rgba(styles.$color-secondary, 0.5);
        backdrop-filter: brightness(90%);
        border-radius: 5px;
        box-shadow: styles.$color-box-shadow-secondary;
        margin-top: styles.$box-mrg-onehalf;
        position: relative;
        padding: styles.$box-pad-onehalf styles.$box-pad-half;
        width: 100%;
      }
    }
  }
}
