<footer class="footer">
  <div class="footer-content">
    <div class="footer-content_logo">
      <img src="./assets/logo.svg" alt="Logo de la aplicacion"/>
    </div>
    <div class="footer-content_rows">
      <div class="footer-content_rows-item">
        <h3>Nosotros</h3>
        <p>
          Creamos soluciones en beneficio de nuestra sociedad, aplicando conocimientos y habilidades adquiridas,
          buscando siempre el aprendizaje continuo que satisface las necesidades de nuestros clientes.
        </p>
      </div>
      <div class="footer-content_rows-item">
        <h3>Creadores</h3>
        <ul>
          <li><a href="" target="_blank">Doris Mosquera</a></li>
          <li><a href="" target="_blank">Santiago Viana</a></li>
          <li><a href="" target="_blank">Andrés Castañada</a></li>
          <li><a href="" target="_blank">Juan Pablo Toro</a></li>
          <li><a href="" target="_blank">Juan Fernando Vargas</a></li>
        </ul>
      </div>
      <div class="footer-content_rows-item">
        <h3>Nuestras Redes</h3>
        <div class="footer-content_rows-item_social-networks">
          <i class="fab fa-github"></i>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram-square"></i>
        </div>
      </div>
    </div>
    <div class="footer-content_copy">
      &copy; Art.com Inc. All Rights Reserved.
    </div>
  </div>
</footer>
