<footer class="footer">
  <div class="footer-content">
    <div class="footer-content_logo">
      <img src="./assets/logo.svg" alt="Logo de la aplicacion" />
    </div>
    <div class="footer-content_rows">
      <div class="footer-content_rows-item">
        <h3>Nosotros</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio velit
          pariatur repellendus fugiat fuga veniam? Quam dignissimos perspiciatis
          voluptates vitae.
        </p>
      </div>
      <div class="footer-content_rows-item">
        <h3>Creadores</h3>
        <ul>
          <li><a href="" target="_blank">Doris Mosquera</a></li>
          <li><a href="" target="_blank">Santiago Viana</a></li>
          <li><a href="" target="_blank">Andres Castañada</a></li>
          <li><a href="" target="_blank">Juan Pablo Toro</a></li>
          <li><a href="" target="_blank">Juan Fernando Vargas</a></li>
        </ul>
      </div>
      <div class="footer-content_rows-item">
        <h3>Nuestras redes</h3>
        <div class="footer-content_rows-item_social-networks">
          <i class="fab fa-github"></i>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram-square"></i>
        </div>
      </div>
    </div>
    <div class="footer-content_copy">
      &copy; Art.com Inc. All Rights Reserved.
    </div>
  </div>
</footer>
